#content {
  margin: 0 auto;
  width: 900px;
}

#title {
  text-transform: uppercase;
  text-shadow: 2px 2px 25px black;
  color: white;
  padding: 45px;
  font-family: Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

#background {
  background-image: url(https://img5.goodfon.com/wallpaper/nbig/5/11/laptop-desk-coffee-music-cookie.jpg);
  border: 1px solid black;
  opacity: 85%;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  background-color: #ffffff;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  color: coral;
  width: 90%;
  min-width: 300px;
  margin: 0 auto;
}

body {
  font-family: Georgia, serif;
  font-size: 13px;
  color: #444;
  font-weight: 400;
}

.picture {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

figure {
  border: thin  black solid;
}

figcaption {
  text-align: center;
  margin-bottom: 10px;
}

.caption {
  caption-side: top;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.captionheader {
  caption-side: top;
  margin-left: 10px;
  margin-right: 10px;
}

blockquote {
  font: 16px/24px normal helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: coral;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
