nav {
  width: 100%;
  border: 2px solid black;
}

.navbartitle {
  font-weight: bold;
}

#headline {
  font-family: 'Snippet', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #943A85;
  margin-bottom: 20px;
}

#subheadline {
  font-family: 'Snippet', sans-serif;
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
}

#byline {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Garamond, Georgia, serif;
}

.emphasis::first-letter {
  font-size: 250%;
  color: #943A85;
  font-weight: bold;
}

.blockquote1 {
  font: 16px/24px normal Garamond, Georgia, serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #808080;
  padding-left: 100px;
  padding-right: 650px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: underline #DB8C04 ;
}

.blockquote2 {
  font: 16px/24px normal Garamond, Georgia, serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #808080;
  padding-right: 100px;
  padding-left: 650px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: underline #DB8C04;
}

span {
  font-style: italic;
  font-weight: bold;
  color: #DB8C04;
}

.chart {
  padding-left: 150px;
  padding-right: 150px;
}

.graph {
  padding-left: 150px;
  padding-right: 150px;
}

footer {
  text-align: center;
  width: 100%;
  border: 2px solid black;
}
